################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/node_modules
/package-lock.json
/.DS_Store
/demo/camera_client/out/build
/demo/camera_client/lib64
/demo/out/build
/testing
**.js
**.js.map
/miner_blockchain
/out
/senshamartVS.njsproj
/senshamartVS.njsproj.user
/demo/camera_client/dependencies/libvisiontransfer/doc
/demo/camera_client/dependencies/libvisiontransfer/examples
/demo/camera_client/dependencies/libvisiontransfer/python/examples
/obj
/bin
/ui/application.js
/ui/broker.js
/ui/provider.js
/*.db
/*.db-journal
/demo
/deployment
