[Unit]
Description=Senshamart wallet
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=node wallet/wallet-app
WorkingDirectory=/home/ubuntu/wallet/

[Install]
WantedBy=multi-user.target